body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
}

#container {
    width: 80%;
    max-width: 800px;
    background-color: #1a1a2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#text-display {
    height: 400px;
    overflow-y: scroll;
    background-color: #2c3e50;
    border: 1px solid #808080;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.boxed {
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

#controls {
    display: flex;
    align-items: center;
}

#read-button, #bookmark-button, #pause-button, #sync-button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#progress-bar {
    width: 100%;
}

.speed-dial-box {
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#progress-bar::-webkit-slider-runnable-track {
    background: #c0392b;
    height: 5px;
    border-radius: 3px;
}

#progress-bar::-moz-range-track {
    background: #c0392b;
    height: 5px;
    border-radius: 3px;
}

#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

#progress-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

#voice-options, #ai-voice-options {
    margin-top: 20px;
}

#openai-api-key {
    margin-bottom: 10px;
}

select {
    background-color: #2c3e50;
    color: #FFFFFF;
    border: 1px solid #808080;
    padding: 5px;
}

input[type="file"]::file-chooser-button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:disabled, input:disabled {
    background-color: #808080;
    cursor: not-allowed;
}
